Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
dist
staticFolder
logs
.local-runtime
docker-compose/.env
docker-compose/secrets
docker-compose/data
docker-compose/log
docker-compose/caddy
**/mongo-migration-*
**/*/node_modules
**/node_modules
**/*/dist
**/*/.umi
**/*/.next
**/*/.git
**/*/.gitignore
**/*/.DS_Store
**/*/.env
**/*/.umi-production
